<div class="wrap game-sheet-page">
  <h1>Créer une fiche jeu</h1>

  {{#if this.error}}
    <div class="alert alert-error">{{this.error}}</div>
  {{/if}}

  <div class="game-sheet-search">
    <input
      type="text"
      value={{this.query}}
      {{on "input" this.updateQuery}}
      placeholder="Rechercher un jeu BGG"
      class="input-xxlarge"
    />
    <button type="button" class="btn btn-primary" {{on "click" this.search}}>
      Rechercher
    </button>
  </div>

  {{#if this.loading}}
    <p>Chargement…</p>
  {{/if}}

  {{#if this.results.length}}
    <h2>Résultats</h2>
    <ul class="game-sheet-results">
      {{#each this.results as |game|}}
        <li>
          <button type="button" class="btn" {{on "click" (fn this.chooseGame game)}}>
            {{! Affichage de l'image (thumbnail) si elle existe }}
            {{#if game.thumbnail}}
              <img src="{{game.thumbnail}}" alt="" style="width: 40px; height: 40px; object-fit: cover; margin-right: 10px; vertical-align: middle;">
            {{/if}}
            
            {{game.name}} {{#if game.yearpublished}}({{game.yearpublished}}){{/if}}
          </button>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if this.selectedGame}}
    <hr>

    <h2>{{this.selectedGame.name}}</h2>

    {{#if this.selectedGame.image}}
      <p>
        <img src={{this.selectedGame.image}} alt={{this.selectedGame.name}} style="max-width:300px;">
      </p>
    {{/if}}

    <p><strong>Année :</strong> {{this.selectedGame.yearpublished}}</p>
    <p><strong>Joueurs :</strong> {{this.selectedGame.minplayers}} à {{this.selectedGame.maxplayers}}</p>
    <p><strong>Durée :</strong> {{this.selectedGame.playingtime}} min</p>
    <p><strong>Âge :</strong> {{this.selectedGame.minage}}+</p>

    <h3>Description</h3>
    <div class="game-sheet-description">
      {{this.selectedGame.description}}
    </div>

    <h3>Catégorie de destination</h3>
    <select {{on "change" this.updateCategory}}>
      <option value="">Choisir une catégorie</option>
      {{#each this.allowedCategories as |cat|}}
        <option value={{cat.id}}>{{cat.name}}</option>
      {{/each}}
    </select>

    <p style="margin-top: 1em;">
      <button type="button" class="btn btn-primary" {{on "click" this.createTopic}}>
        {{if this.creating "Création…" "Créer le sujet"}}
      </button>
    </p>
  {{/if}}
</div>
